<% layout('layout') -%>



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> A Smarter Way To Student!</h1>
    <p>Starting point to reinvent yourself</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>Rent or buy books</h3>
      <p>Signup to start Buying</p>
    </div>
    <div class="col-md-4">
      <h3>Ask Study Solutions</h3>
      <p>Your efforts will appear in your profile using <b>d3.js</b> to plot performance</p>

   </div>
    <div class="col-md-4">
      <h3>Read a textbook online for free!</h3>
      <p>This section will use <b>pdf.js</b></p>
    </div>
  </div>
